*.tfvars
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
.terraform.lock.hcl
.terraform/
.tflint.hcl
variables.json
doc.txt
venv
gce.ini
docker-86505-7464b9391a64.json
.molecule
.env
.gitlab-ci_copy.yml
docker-compose-rebuild.sh
config.yml
