name: Devops study homework tests

on: [pull_request, push, workflow_dispatch]

jobs:
  build-apps:

    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    - name: Run homework tests
      id: test-infra
      run: |
        # dirty hack to simulate travis behavior
        export TRAVIS_PULL_REQUEST_BRANCH="${GITHUB_HEAD_REF:-$GITHUB_REF_NAME}"
        export TRAVIS_BRANCH="${GITHUB_HEAD_REF:-$GITHUB_REF_NAME}"

        echo "TRAVIS_PULL_REQUEST_BRANCH=${TRAVIS_PULL_REQUEST_BRANCH}"
        echo "TRAVIS_BRANCH=${TRAVIS_BRANCH}"
        if [ ${GITHUB_EVENT_NAME} = pull_request ]; then
          PR_NUMBER=$(echo $GITHUB_REF | awk -F '/' '{print $3}')
          SLACK_TITLE=https://github.com/${GITHUB_REPOSITORY}/pull/${PR_NUMBER}

        fi

        echo "SLACK_TITLE=$SLACK_TITLE" >> $GITHUB_ENV
        git config --global --add safe.directory /srv
        curl https://raw.githubusercontent.com/loktionovam/otus-homeworks/2019-02/run.sh | bash

    - name: Slack Notification
      if: always()
      uses: rtCamp/action-slack-notify@v2
      env:
        SLACK_WEBHOOK: ${{ secrets.SLACK_WEBHOOK }}
        SLACK_TITLE: ${{ env.SLACK_TITLE }}
        SLACK_COLOR: ${{ job.status }}
